
body{
    background-color:  black;
}

.cartTop {
    background-color: #003049;
    padding: 8px;
}

.mainCart{
    height: 430px;
    background-color: #003049;
}

.iceCreamCard {
    padding: 10px;
    background-color: #c1121F;
    display: flex;
    color: white;
}

.buyZone{
    background-color: #FDF0D5;
    margin-top: 6em;
    padding: 2em;
    border-radius: 4em;
}

.buyCard {
    padding: 10px;
    background-color: #780000;
    border-radius: 15px;
    color: white;
}

.imgCard {
    height: 170px;
    width: 250px;
    border-radius: 15px;
    margin-bottom: 10px;
}